@font-face {
    font-family: "Londrina Solid";
    src: url("/resources/fonts/LondrinaSolid-Light.ttf");
}

body {
    margin: 0;
    background-color: #474747;
    font-family: "Londrina Solid", sans-serif;
    color: #51545f;
}

#game-area {
    width: 768px;
    height: 600px;
    margin: 0 auto;
    position: relative;
    background-image: url("/resources/projects/technovators-mobile-platformer-game/backgroundEmpty.png");
    background-size: cover;
    background-position: center center;
    overflow: hidden;
}

#player {
    width: 64px;
    height: 64px;
    border-radius: 12px;
    position: absolute;
    left: 180px;
    background-size: contain;
    background-repeat: no-repeat;
}

/* CHARACTER RUNNING SPRITE */
.run {
    background-image: url("/resources/projects/technovators-mobile-platformer-game/character-run.gif");
}

/* CHARACTER JUMPING SPRITE */
.jump {
    background-image: url("/resources/projects/technovators-mobile-platformer-game/platformChar_jump.png");
}

/* CHARACTER CRASHING SPRITE */
.crash {
    background-image: url("/resources/projects/technovators-mobile-platformer-game/platformChar_duck.png");
}

/* TILE WITHOUT GRASS */
.block {
    position: absolute;
    width: 64px;
    height: 64px;
    background-image: url("/resources/projects/technovators-mobile-platformer-game/platformPack_tile_regular.png");
    background-size: cover;
}

/* TILE WITH GRASS ON TOP */
.top {
    background-image: url("/resources/projects/technovators-mobile-platformer-game/platformPack_tile_top.png");
}

/* COIN SPRITE */
.coin {
    background-image: url("/resources/projects/technovators-mobile-platformer-game/platformer-coin-collectible.gif");
    background-size: contain;
    width: 30px;
    height: 30px;
    position: absolute;
}

/* FINISH SIGN SPRITE*/
#finishSign {
    width: 63px;
    height: 65px;
    background-image: url("https://app.bsd.education/resources/finishSign.png");
    position: absolute;
}

#coins {
    position: absolute;
    bottom: 0;
    left: 0;
}

#platforms {
    position: absolute;
    bottom: 0;
    left: 0;
    top: 0;
}

h1 {
    margin-left: 20px;
}

.hidden {
    display: none;
}

.container {
    position: absolute;
}